<div class="teacher">
    <%= link_to "ログイン", teachers_path %>
    <%= link_to "新規登録", teachers_path %>
</div>

<div class="student">
    <%= link_to "ログイン", students_path %>
    <%= link_to "新規登録", students_path %>
</div>
